@media (min-width: 1200px) {
    .navbar {
        padding: .5rem 0;
    }

    .navbar-container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .quarto-title-banner {
        padding-top: .5rem;
        padding-bottom: 1rem;
    }
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    display: none;
}
